#spin {
    width: 45px;
    animation: spin linear 8s infinite;
}

@keyframes spin {
    from {transform: rotate(0)}
    to {transform: rotate(360deg);}
}

header {
    display: flex;
    gap: 20px;
    align-items: center;
}

